<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Fridge Cop</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    {{{body}}}

    <div id="footer">
        Sami Viitanen, sami.viitanen@gmail.com
        -
        <a href="https://github.com/alump/fridgecop">GitHub</a>
        -
        <a href="status">Full Status in JSON</a>
    </div>

</body>
</html>