body {
    font-family: sans-serif;
    text-align: center;
    --app-color: rgb(92,160,192);
    --app-width: 600px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#page-wrapper {
    width: var(--app-width, 100%);
    max-width: 100%;
    display: inline-block;
}

#trigger-push {
    visibility: hidden;
    background: var(--app-color, rgb(92,92,192));
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border-radius: 8px;
    font-size: 100%;
    padding: 8px 20px;
    border: none;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

#fridge-open-or-closed {
    font-size: 200%;
}

#fridge-open-or-closed .open-value {
    display: block;
    text-align: center;
    font-size: 300%;
    text-transform: capitalize;
}

#fridge-open-or-closed.undefined .open-value {
    color: rgb(90%, 90%, 90%);
}

#fridge-open-or-closed.undefined .open-value:after {
    display: inline;
    content: "?";
    color: black;
}

#fridge-open-or-closed.closed .open-value {
    color: green;
}

#fridge-open-or-closed.open .open-value {
    color: red;
}

#details-section {
    width: 100%;
    display: inline-block;
}

details {
    display: block;
    margin: 1em 0;
}

details > summary {
    outline: none;
    border: none;
    background: var(--app-color, rgb(92,92,192));
    color: white;
    text-align: left;
    padding: 0.5rem 0 0.5rem 1rem;
}

details > div {
    background: rgba(0,0,0,0.1);
    padding: 10px 20px;
    border-radius: 0px 0px 10px 10px;
}

details > div > table {
    width: 100%;
    text-align: left;
}

details > div > table th {
    font-size: 100%;
    font-weight: bold;
}

#footer {
    font-size: small;
    margin-top: 2rem;
    text-align: center;
    color: gray;
    border-top: 1px solid silver;
    padding-top: 8px;
}